/* General styles */
* {
  font-family: 'Roboto slab', sans-serif;
}

/* HEADER DigitalOcean */
  .digital-ocean-navbar {
    padding-top: 19px;
    line-height: 50px;
    background-color: #fff;
  }

  .digital-ocean-navbar img {
    width: 200px;
  }

  .digital-ocean-navbar li a {
    text-decoration: none;
    color: #031b4e;
    font-weight: 500;
    font-size: 15px;
  }

  .digital-ocean-navbar li a:hover {
    color: #006aff;
  }

  /* Button Sign Up*/
    .digital-ocean-navbar .btn-border {
      border: 1px solid #006aff;
      color: #0069ff;
    }

    .digital-ocean-navbar .btn-border:hover {
      background: #006aff;
      color: #fff;
    }
  /* menu-light-responsive */
  .menu-light {
    text-align: right;
    font-size: 20px;
  }
/* end HEADER DigitalOcean */

/* UTILITIES */
  /* position */
  .ps-relative {
    position: relative;
  }
  /* element arrow */
    .arrow-odd li:nth-child(odd) a::after,
    .arrow-even li:nth-child(2) a::after {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #031b4e;
      padding-left: 5px;
      vertical-align: bottom;
    }

    .the-features a::after,
    .development-box-white a::after,
    .innovative-business a::after,
    .style-columns div:last-child a::after {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #006aff;
      padding-left: 5px;
      vertical-align: bottom;
    }

  /* title h2 p*/
    .deploy-and-scale .deploy-title h2,
    .designed-title h2,
    .the-features h2,
    .development-teams h2 {
      font-size: 40px;
      color: #031c4e;
    }

    .deploy-col-style p,
    .the-features p {
      color: #5c6a88;
      font-size: 16px;
    }

  /* circle-icon */
    .circle-icon {
      border: 1px solid #006aff;
      border-radius: 50%;
      padding: 2px 6px;
      font-size: 6px;
    }

    .circle-icon:hover {
      background: #006aff;
    }

    /* active-circle */
    .active a {
     background: #006aff;
   }

  /* style a */
  .innovative-business a,
  .the-features a {
    text-decoration: none;
    color: #006aff;
    font-size: 16px;
  }
/* end UTILITIES */

/* JUMBOTRON */
  .digital-ocean-jumbotron {
    background-image: url(../assets/bg-banner-home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    padding: 50px 0;
  }

  /* jumbotron col-sx */
  .digital-ocean-jumbotron h1 {
    font-size: 60px;
    color: #fff;
  }

  .digital-ocean-jumbotron p {
    font-size: 22px;
    color: #bbcdff;
    margin-bottom: 30px;
  }

  /* junbotron col-dx */
  .jumbotron-box {
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 20px;
  }

  .jumbotron-box h3 {
    color: #006aff;
  }

  .digital-ocean-jumbotron form input {
    margin-bottom: 10px;
  }

  .jumbotron-btn-account {
    color: #fff;
    background: #579aff;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .jumbotron-btn-account:hover {
    color: #fff;
    background: #1633ff;
  }

  .jumbotron-btn-google {
    width: 100%;
    box-shadow: 2px 2px #ccc;
    margin-bottom: 10px;
    color: #626262;
    font-weight: 700;
  }

  .button-google img {
    position: absolute;
    width: 20px;
    left: 5px;
    top: 10px;
  }
/* end JUMBOTRON */

/* INNOVATIVE-BUSINESS */
  .innovative-business {
    background-color: #f3f5f9;
    padding: 30px 0;
  }

  .innovative-img-calc img {
    width: calc((100% / 6) - 5px);
  }

  .innovative-business h3 {
    color: #6f7b97;
    text-transform: uppercase;
  }
/* end INNOVATIVE-BUSINESS */

/* DEPLOY */
  .deploy-and-scale {
    padding: 30px 0;
  }

  /* Deploy title */
  .deploy-and-scale .deploy-title p {
    font-size: 20px;
    color: #5c6a88;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  /* Deploy style */
  .deploy-col-style {
    padding: 5px 0 10px;
  }
  /* Deploy style col-sx */
    .deploy-col-style li {
      border-left: 1px solid #ccc;
      padding: 10px 0;
    }

    .deploy-col-style li a {
      text-decoration: none;
      color: #5c6a88;
      font-size: 20px;
      padding-left: 10px;
      margin-bottom: 10px;
      font-weight: 400;
    }
  /* Deploy center-dx-columns */
  .deploy-col-style img {
    margin-bottom: 20px;
  }

  .deploy-col-style p {
    margin-bottom: 20px;
  }

  .deploy-col-style h4 {
    color: #031c4e;
  }

  .col-lg-4:nth-child(3) .deploy-col-style img:nth-of-type(2) {
    margin-top: 40px;
  }
/* end Deploy */

/* DESIGNED FOR DEVELOPERS */
  .designed-for-developers {
    background-color: #f3f5f9;
    padding: 30px 0;
  }
  /* Designed title */
  .designed-title h5 {
    color: #031c4e;
    font-size: 16px;
  }

  .designed-title p {
    font-size: 20px;
    color: #5c6a88;
    font-weight: 500;
    margin: 15px 0 50px;
  }
  /* Designed sliders  */
  .designed-for-developers img {
    max-width: 100%;
    padding: 20px;
  }
  /* Arrow */
  .arrow-designed {
    position: relative;
  }
  /* arrows left */
  .arrow-designed::before {
    position: absolute;
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #5c6a88;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  /* arrow right */
  .arrow-designed::after {
    position: absolute;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #5c6a88;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
/* end DESIGNED FOR DEVELOPERS */

/* THE FEATURES */
  .the-features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .the-features h2 {
    margin-bottom: 40px;
  }

  .the-features h4 {
    color: #031c4e;
  }

  .the-features img {
    margin: 20px 0;
  }

/* end THE FEATURES */

/* Service your customers */
  .customers {
    background-image: linear-gradient(#0047c5, #001e9a);
    padding: 60px 0;
  }
  /* title */
  .customers h2 {
    font-size: 35px;
    color: #fff;
    margin-bottom: 30px;
  }

  /* cloumuns rows styles*/
  .style-columns div:first-child span {
    color: #fff;
  }

  .style-columns div:nth-last-child(2) span {
    color: #acbde5;
  }

  .style-columns div:last-child a {
    color: #00d7d2;
    text-decoration: none;
  }

  .style-columns div:last-child a::after {
    color: #00d7d2;
  }

  .border-bottom-table {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    margin-bottom: 10px;
  }

  .col-sx-customers,
  .col-dx-customers {
    padding: 0 10px;
    margin-bottom: 30px;
  }
  /* end columns row styles */
/* end Service your customers */

/* DEVELOPMENT-TEAMS */
  /* title */
  .development-teams h2 {
    font-size: 35px;
    margin-bottom: 40px;
  }
  /* box-white */
  .development-teams {
    background-color: #f3f5f9;
    padding: 50px 0;
  }

  .development-box-white {
    max-width: 100%;
    background: #fff;
    padding: 50px 10px;
    margin-bottom: 30px;
  }

  .development-teams p {
    color: #5c6a88;
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 20px;
  }

  .development-teams h4 {
    font-weight: 600;
    margin-bottom: 0;
  }

  .development-teams h5 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .development-box-white a {
    text-decoration: none;
    color: #006aff;
    font-size: 16px;
    font-weight: 500;
  }
  /* arrow */
  .arrow-developer {
    position: relative;
  }

  .arrow-developer::before {
    position: absolute;
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #5c6a88;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
  }

  .arrow-developer::after {
    position: absolute;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #5c6a88;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
  }
/* end DEVELOPMENT-TEAMS */


/* GET STARTED NOW */
  .get-started-now {
    background: #002ca6;
    padding: 50px 0 ;
  }

  .get-started-now h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .get-started-now a {
    text-decoration: none;
    font-size: 18px;
  }

  .get-started-now a:hover {
    background: #006aff;
    color: #fff;
  }

  .btn-get-started {
    background: #fff;
  }
/* end GET-STARTED */

/* FOOTER */
  .footer-digitalocean {
    background: #031c4e;
    padding: 50px 0;
  }

  /* col-sx */
  .footer-digitalocean p {
    color: #8b94a9;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }

  .footer-digitalocean p span {
    color: #5a6887;
  }
  /* icone-social */
  .footer-digitalocean ul li a i {
    font-size: 25px;
    color: #7a859d;
  }

  .footer-digitalocean ul li a i:hover {
    color: #fff;
  }

  /* footer-link columns */
  .footer-digitalocean h4 {
    color: #fff;
    margin-top: 30px;
  }

  .footer-link-style li {
    margin-bottom: 10px;
  }

  .footer-link-style li a {
    color: #a1a9ba;
    font-size: 16px;
    text-decoration: none;
  }

  .footer-link-style li a:hover {
    color: #fff;
  }

/* end FOOTER */

/* BOTTOM-BAR-Fixed */
  .help-chat {
    position: relative;
    max-width: 100%;
    width: 300px;
    height: 60px;
    background:#fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
    float: right;
  }

  .help p {
    color: #031c4e;
    font-size: 16px;
    font-weight: 500;
  }

  .help::before {
    content: '';
    position: absolute;
    bottom: 15px;
    right: -5px;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(45deg);
  }
  /* box-shark */
  .box-shark {
    position: relative;
    height: 55px;
    width: 55px;
    background-color: #006aff;
    border-radius: 10px;
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  }

  .red-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: red;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  .red-circle span {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    font-weight: 500;
  }
/* end BOTTOM-BAR-Fixed */

/* Responsive */
  @media all and (max-width: 992px) {
    .innovative-img-calc img {
      width: calc((100% / 2) - 5px);
    }
  }
/* media-queries created to fix a bug with bootstrap that did not apply media-queries */
  @media (min-width: 768px) {
    .container {
    width: 100%;}
  }
